
.form {
  padding: 15px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center !important;
}

.file-input {
  width: 97%;
  margin: 10px 0px !important;
}

.btn-submit {
  margin-bottom: 10px !important;
}