.paper__form-post {
  padding: 20px;
}

.form__form-post {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.file-input__form-post {
  width: 97%;
  margin: 10px 0;
}

.button-submit__form-post,
.text-field__form-post {
  margin: 5px 0 !important;
}