.paper {
  padding: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.file-input {
  width: 97%;
  margin: 5px 20px;
}

.button-submit,
.text-field {
  margin: 5px 20px !important;
}
