.paper {
  padding: 2px;
}

.form {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.file-input {
  width: 97%;
  margin: 10px 0;
}

.button-submit,
.text-field {
  margin: 5px 0 !important;
}