.app-bar {
  border-radius: 15px;
  margin: 30px 0px;
  padding: 15px 30px;
  background-color: rgb(46, 35, 144) !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}

.heading {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.image {
  margin-left: 15px;
  width: 40px;
}

.toolbar {
  width: 350px;
  display: flex;
  justify-content: flex-end;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
}

.user-name {
  display: flex;
  align-items: center;
}

.purple {
  /* color: theme.palette.getContrastText(deepPurple[500], */
  color: blueviolet;
  background-color: rgb(56, 3, 56);
  margin-right: 8px;
}